body * {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  height: 80px;
  background: red;
  padding-top: 20px;
}

h1 {
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.form-style {
  width: 300px;
  margin: 100px auto;
}

.form-style input {
  height: 30px;
  width: 65%;
  margin-right: 5%;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 1.2em;
  color: #000;
  vertical-align: middle;
  padding-left: 5px;
}

.form-style button {
  height: 30px;
  width: 30%;
  border: 1px solid red;
  background: red;
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;

}

.search-results {
  width: 100%;
  padding: 0 50px;
}

.search-results img {
  width: 50%;
  padding: 10px;
  border-radius: 15px;
}

.prev-next-btns {
  width: 100%;
  margin: 20px auto;
  display: none;
}

.prev-next-btns button {
  display: inline-block;
  width: 50%;
  height: 30px;
  background: none;
  border: 1px solid #bbb;
  color: #000;
}

#prev-btn {
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

#next-btn {
  border-radius: 0 5px 5px 0;
}

#prev-btn.disabled, #next-btn.disabled {
  background: #ddd;
  color: #777;
}

@media only screen and (max-width: 680px) {
  .search-results img {
    width: 100%;
  }

  .search-results {
    padding: 0;
  }

  .form-style {
    width: 100%;
    padding: 0 10px;
    margin: 10px auto;
  }
}
